.escuelas-modulares {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.escuelas-modulares .div {
  background-color: #ffffff;
  width: 1920px;
  height: 5133px;
  position: relative;
}

.escuelas-modulares .overlap {
  position: absolute;
  width: 1920px;
  height: 312px;
  top: 3620px;
  left: 0;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/rectangle-34.png);
  background-size: cover;
  background-position: 50% 50%;
}

.escuelas-modulares .text-wrapper {
  position: absolute;
  width: 878px;
  top: 93px;
  left: 521px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #010101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.escuelas-modulares .documentos-de-apoyo {
  position: absolute;
  width: 369px;
  top: 44px;
  left: 776px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .overlap-group {
  position: absolute;
  width: 698px;
  height: 105px;
  top: 170px;
  left: 703px;
}

.escuelas-modulares .group {
  position: absolute;
  width: 698px;
  height: 105px;
  top: 0;
  left: 0;
}

.escuelas-modulares .planos-esquem-ticos {
  position: absolute;
  width: 546px;
  top: 3px;
  left: 148px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21.8px;
}

.escuelas-modulares .text-wrapper-2 {
  top: 3px;
  left: 122px;
  color: #7d4393;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .group-2 {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 0;
  left: 0;
  background-color: #2ead9a;
  border-radius: 52.62px;
}

.escuelas-modulares .mask-group {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 0;
  left: 0;
}

.escuelas-modulares .beneficios {
  position: absolute;
  width: 433px;
  top: 2117px;
  left: 744px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .inversi-n-estimada {
  position: absolute;
  width: 781px;
  top: 2456px;
  left: 570px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 597px;
  top: 0;
  left: 0;
}

.escuelas-modulares .rectangle {
  position: absolute;
  width: 1920px;
  height: 489px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.escuelas-modulares .img {
  position: absolute;
  width: 1920px;
  height: 293px;
  top: 304px;
  left: 0;
  object-fit: cover;
}

.escuelas-modulares .text-wrapper-3 {
  position: absolute;
  width: 336px;
  top: 436px;
  left: 551px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 42.7px;
}

.escuelas-modulares .p {
  position: absolute;
  width: 423px;
  top: 422px;
  left: 895px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .text-wrapper-4 {
  position: absolute;
  width: 423px;
  top: 422px;
  left: 1405px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .cat-logo-pronied {
  position: absolute;
  width: 376px;
  height: 30px;
  top: 324px;
  left: 895px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.escuelas-modulares .text-wrapper-5 {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 324px;
  left: 459px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.escuelas-modulares .modo-de-aislamiento {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 334px;
  left: 1066px;
}

.escuelas-modulares .modo-de-aislamiento-2 {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 334px;
  left: 442px;
}

.escuelas-modulares .ellipse {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 432px;
  left: 442px;
  background-color: #ffffff;
  border-radius: 45.5px;
}

.escuelas-modulares .vector {
  position: absolute;
  width: 59px;
  height: 45px;
  top: 466px;
  left: 456px;
}

.escuelas-modulares .vector-2 {
  position: absolute;
  width: 69px;
  height: 52px;
  top: 452px;
  left: 450px;
}

.escuelas-modulares .esta-soluci-n {
  position: absolute;
  width: 923px;
  top: 645px;
  left: 502px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .span {
  font-weight: 700;
}

.escuelas-modulares .text-wrapper-6 {
  font-family: "Gotham Rounded-Regular", Helvetica;
}

.escuelas-modulares .tipos-de-escuelas {
  position: absolute;
  width: 429px;
  top: 765px;
  left: 746px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #2c2c2c;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .border {
  position: absolute;
  width: 1113px;
  height: 4px;
  top: 814px;
  left: 404px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dfdfdf;
}

.escuelas-modulares .overlap-group-2 {
  position: relative;
  width: 46px;
  height: 6px;
}

.escuelas-modulares .background {
  position: absolute;
  width: 40px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #363636;
}

.escuelas-modulares .mask-group-2 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 0;
  left: 36px;
}

.escuelas-modulares .text-wrapper-7 {
  position: absolute;
  width: 617px;
  top: 2605px;
  left: 652px;
  font-family: "Gotham Rounded-Light", Helvetica;
  font-weight: 300;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.escuelas-modulares .group-wrapper {
  position: absolute;
  width: 384px;
  height: 65px;
  top: 2515px;
  left: 769px;
}

.escuelas-modulares .overlap-group-wrapper {
  width: 386px;
  height: 65px;
}

.escuelas-modulares .overlap-group-3 {
  position: relative;
  width: 384px;
  height: 65px;
  background-color: #eeeeee;
  border-radius: 36px;
}

.escuelas-modulares .layer {
  position: absolute;
  width: 39px;
  height: 44px;
  top: 12px;
  left: 32px;
}

.escuelas-modulares .text-wrapper-8 {
  position: absolute;
  width: 286px;
  top: 16px;
  left: 84px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.0px;
  white-space: nowrap;
}

.escuelas-modulares .conoce-nuestra {
  position: absolute;
  width: 380px;
  top: 3343px;
  left: 1005px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 28.6px;
}

.escuelas-modulares .overlap-wrapper {
  position: absolute;
  width: 193px;
  height: 42px;
  top: 2348px;
  left: 865px;
}

.escuelas-modulares .overlap-3 {
  position: relative;
  width: 191px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 33px;
  border: 2px solid;
  border-color: #2ead9a;
}

.escuelas-modulares .text-wrapper-9 {
  position: absolute;
  width: 162px;
  height: 31px;
  top: 3px;
  left: 2px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #2ead9a;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
}

.escuelas-modulares .vector-3 {
  position: absolute;
  width: 15px;
  height: 10px;
  top: 14px;
  left: 159px;
}

.escuelas-modulares .rectangle-2 {
  position: absolute;
  width: 274px;
  height: 249px;
  top: 3333px;
  left: 696px;
  object-fit: cover;
}

.escuelas-modulares .te-compartimos {
  position: absolute;
  width: 342px;
  top: 3437px;
  left: 1005px;
  font-family: "Gotham Rounded-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .text-wrapper-10 {
  color: #020101;
}

.escuelas-modulares .text-wrapper-11 {
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #2ead9a;
}

.escuelas-modulares .text-wrapper-12 {
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #020101;
}

.escuelas-modulares .overlap-4 {
  position: absolute;
  width: 1918px;
  height: 598px;
  top: 2695px;
  left: 2px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/rectangle-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.escuelas-modulares .group-3 {
  position: absolute;
  width: 1420px;
  height: 508px;
  top: 57px;
  left: 267px;
}

.escuelas-modulares .text-wrapper-13 {
  position: absolute;
  width: 112px;
  top: 214px;
  left: 1278px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.escuelas-modulares .ruta-para-la {
  position: absolute;
  width: 425px;
  top: 0;
  left: 481px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-14 {
  position: absolute;
  width: 1020px;
  top: 61px;
  left: 182px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #221e20;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.escuelas-modulares .div-wrapper {
  position: absolute;
  width: 156px;
  height: 89px;
  top: 214px;
  left: 838px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-15 {
  position: absolute;
  width: 138px;
  top: 9px;
  left: 9px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.escuelas-modulares .overlap-5 {
  position: absolute;
  width: 154px;
  height: 89px;
  top: 214px;
  left: 1053px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-16 {
  position: absolute;
  width: 137px;
  top: 9px;
  left: 8px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.escuelas-modulares .text-wrapper-17 {
  position: absolute;
  width: 86px;
  top: 213px;
  left: 8px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.escuelas-modulares .overlap-6 {
  position: absolute;
  width: 147px;
  height: 83px;
  top: 114px;
  left: 158px;
}

.escuelas-modulares .rectangle-3 {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 0;
  left: 2px;
  background-color: #2ead9a;
  border-radius: 15px;
}

.escuelas-modulares .mesa-de-partes-del {
  position: absolute;
  width: 147px;
  top: 20px;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.escuelas-modulares .vector-4 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 796px;
}

.escuelas-modulares .vector-5 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 142px;
  left: 318px;
}

.escuelas-modulares .vector-6 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 142px;
  left: 116px;
}

.escuelas-modulares .vector-7 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 522px;
}

.escuelas-modulares .vector-8 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 1007px;
}

.escuelas-modulares .vector-9 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 1224px;
}

.escuelas-modulares .gerencia-general-del-wrapper {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 114px;
  left: 361px;
  background-color: #2ead9a;
  border-radius: 15px;
}

.escuelas-modulares .gerencia-general-del {
  position: absolute;
  width: 127px;
  top: 19px;
  left: 9px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.escuelas-modulares .overlap-7 {
  position: absolute;
  width: 225px;
  height: 83px;
  top: 114px;
  left: 563px;
  background-color: #2ead9a;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-18 {
  width: 194px;
  top: 16px;
  left: 15px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.escuelas-modulares .overlap-8 {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 838px;
  background-color: #2ead9a;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-19 {
  width: 138px;
  height: 52px;
  top: 17px;
  left: 9px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.escuelas-modulares .overlap-9 {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 214px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-20 {
  position: absolute;
  width: 179px;
  top: 14px;
  left: 23px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.escuelas-modulares .overlap-10 {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 1052px;
  background-color: #2ead9a;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-21 {
  width: 139px;
  height: 52px;
  top: 17px;
  left: 8px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.escuelas-modulares .documentaci-n-t-wrapper {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 292px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.escuelas-modulares .documentaci-n-t {
  position: absolute;
  width: 179px;
  top: 12px;
  left: 23px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.escuelas-modulares .overlap-11 {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 370px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-22 {
  position: absolute;
  width: 144px;
  top: 17px;
  left: 40px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.escuelas-modulares .mask-group-3 {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 103px;
  left: 0;
}

.escuelas-modulares .vector-10 {
  position: absolute;
  width: 165px;
  height: 277px;
  top: 213px;
  left: 225px;
}

.escuelas-modulares .vector-11 {
  position: absolute;
  width: 202px;
  height: 172px;
  top: 318px;
  left: 938px;
}

.escuelas-modulares .overlap-12 {
  position: absolute;
  width: 519px;
  height: 36px;
  top: 472px;
  left: 405px;
}

.escuelas-modulares .rectangle-4 {
  position: absolute;
  width: 519px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #0057a7;
  border-radius: 14px;
}

.escuelas-modulares .text-wrapper-23 {
  position: absolute;
  width: 441px;
  top: 6px;
  left: 44px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
}

.escuelas-modulares .MODULO-COSTA-ass {
  width: 135px;
  height: 93px;
  top: 162px;
  left: 1533px;
  position: absolute;
  object-fit: cover;
}

.escuelas-modulares .ALCALDES-y {
  position: absolute;
  width: 307px;
  height: 287px;
  top: 3980px;
  left: 554px;
  object-fit: cover;
}

.escuelas-modulares .overlap-13 {
  position: absolute;
  width: 468px;
  height: 43px;
  top: 3967px;
  left: 887px;
}

.escuelas-modulares .rectangle-5 {
  position: absolute;
  width: 468px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-24 {
  position: absolute;
  width: 445px;
  top: 8px;
  left: 13px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 19.0px;
}

.escuelas-modulares .el-equipo-t-cnico {
  position: absolute;
  width: 445px;
  top: 4026px;
  left: 900px;
  font-family: "Gotham Rounded-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 19.5px;
}

.escuelas-modulares .text-wrapper-25 {
  position: absolute;
  width: 214px;
  top: 4153px;
  left: 964px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-26 {
  position: absolute;
  width: 214px;
  top: 4212px;
  left: 964px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.escuelas-modulares .img-2 {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 4122px;
  left: 887px;
}

.escuelas-modulares .elementos-de-la {
  position: absolute;
  width: 433px;
  top: 1877px;
  left: 744px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.escuelas-modulares .frame {
  position: absolute;
  width: 45px;
  height: 44px;
  top: 4202px;
  left: 899px;
}

.escuelas-modulares .group-4 {
  position: absolute;
  width: 1154px;
  height: 974px;
  top: 847px;
  left: 378px;
}

.escuelas-modulares .overlap-14 {
  position: absolute;
  width: 524px;
  height: 581px;
  top: 394px;
  left: 0;
}

.escuelas-modulares .ellipse-2 {
  position: absolute;
  width: 189px;
  height: 189px;
  top: 374px;
  left: 45px;
  background-color: #ebebeb;
  border-radius: 94.36px;
}

.escuelas-modulares .callao {
  position: absolute;
  width: 5px;
  height: 4px;
  top: 376px;
  left: 256px;
}

.escuelas-modulares .vector-12 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 376px;
  left: 256px;
}

.escuelas-modulares .vector-13 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 313px;
  left: 240px;
  object-fit: cover;
}

.escuelas-modulares .vector-14 {
  position: absolute;
  width: 97px;
  height: 61px;
  top: 317px;
  left: 120px;
}

.escuelas-modulares .MODULO-COSTA-sf-ass {
  width: 278px;
  height: 191px;
  top: 360px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.escuelas-modulares .ALTURA-wrapper {
  position: absolute;
  width: 213px;
  height: 60px;
  top: 11px;
  left: 24px;
}

.escuelas-modulares .ALTURA {
  width: 219px;
  height: 60px;
}

.escuelas-modulares .overlap-group-4 {
  position: relative;
  width: 213px;
  height: 60px;
}

.escuelas-modulares .rectangle-6 {
  position: absolute;
  width: 210px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #2ead9a;
  border-radius: 30px;
}

.escuelas-modulares .text-wrapper-27 {
  position: absolute;
  width: 87px;
  top: 33px;
  left: 126px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-28 {
  position: absolute;
  width: 67px;
  top: 7px;
  left: 62px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-29 {
  position: absolute;
  width: 138px;
  top: 24px;
  left: 62px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.escuelas-modulares .vector-15 {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 7px;
  left: 8px;
}

.escuelas-modulares .rectangle-7 {
  position: absolute;
  width: 394px;
  height: 581px;
  top: 0;
  left: 130px;
  object-fit: cover;
}

.escuelas-modulares .vector-16 {
  position: absolute;
  width: 2px;
  height: 1px;
  top: 524px;
  left: 367px;
}

.escuelas-modulares .vector-17 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 509px;
  left: 354px;
}

.escuelas-modulares .vector-18 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 509px;
  left: 353px;
}

.escuelas-modulares .vector-19 {
  position: absolute;
  width: 124px;
  height: 37px;
  top: 508px;
  left: 233px;
}

.escuelas-modulares .overlap-15 {
  position: absolute;
  width: 326px;
  height: 43px;
  top: 468px;
  left: 564px;
}

.escuelas-modulares .rectangle-8 {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.escuelas-modulares .text-wrapper-30 {
  position: absolute;
  width: 284px;
  top: 7px;
  left: 24px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.escuelas-modulares .overlap-16 {
  position: absolute;
  width: 575px;
  height: 294px;
  top: 521px;
  left: 564px;
}

.escuelas-modulares .overlap-17 {
  position: absolute;
  width: 575px;
  height: 294px;
  top: 0;
  left: 0;
}

.escuelas-modulares .rectangle-9 {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 248px;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.escuelas-modulares .dise-o-arquitect {
  position: absolute;
  width: 550px;
  top: 0;
  left: 25px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 19.5px;
}

.escuelas-modulares .text-wrapper-31 {
  position: absolute;
  width: 293px;
  top: 255px;
  left: 24px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.escuelas-modulares .text-wrapper-32 {
  top: 0;
  left: 0;
  color: #2ead9a;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .evaluaci-n-de {
  position: absolute;
  width: 546px;
  top: 824px;
  left: 590px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 19.5px;
}

.escuelas-modulares .text-wrapper-33 {
  top: 824px;
  left: 564px;
  color: #2ead9a;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
}

.escuelas-modulares .text-wrapper-34 {
  position: absolute;
  width: 230px;
  top: 416px;
  left: 564px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffc000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 33.2px;
  white-space: nowrap;
}

.escuelas-modulares .group-5 {
  position: absolute;
  width: 1121px;
  height: 309px;
  top: 0;
  left: 26px;
}

.escuelas-modulares .overlap-18 {
  position: absolute;
  width: 261px;
  height: 309px;
  top: 0;
  left: 0;
}

.escuelas-modulares .rectangle-10 {
  position: absolute;
  width: 261px;
  height: 237px;
  top: 73px;
  left: 0;
  background-color: #ffc000;
  border-radius: 18px;
}

.escuelas-modulares .escuela-modular-tipo {
  position: absolute;
  width: 230px;
  top: 251px;
  left: 15px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.escuelas-modulares .rectangle-11 {
  position: absolute;
  width: 261px;
  height: 237px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.escuelas-modulares .overlap-19 {
  position: absolute;
  width: 261px;
  height: 309px;
  top: 0;
  left: 285px;
}

.escuelas-modulares .rectangle-12 {
  position: absolute;
  width: 261px;
  height: 237px;
  top: 73px;
  left: 0;
  background-color: #c0504d;
  border-radius: 18px;
}

.escuelas-modulares .overlap-group-5 {
  position: absolute;
  width: 261px;
  height: 309px;
  top: 0;
  left: 567px;
}

.escuelas-modulares .rectangle-13 {
  position: absolute;
  width: 261px;
  height: 237px;
  top: 73px;
  left: 0;
  background-color: #00b050;
  border-radius: 18px;
}

.escuelas-modulares .overlap-20 {
  position: absolute;
  width: 261px;
  height: 309px;
  top: 0;
  left: 852px;
}

.escuelas-modulares .rectangle-14 {
  position: absolute;
  width: 261px;
  height: 237px;
  top: 73px;
  left: 0;
  background-color: #558ed5;
  border-radius: 18px;
}

.escuelas-modulares .line {
  position: absolute;
  width: 1111px;
  height: 1px;
  top: 347px;
  left: 29px;
}

.escuelas-modulares .line-2 {
  position: absolute;
  width: 1px;
  height: 21px;
  top: 326px;
  left: 152px;
}

.escuelas-modulares .ambientes-pedag {
  width: 139px;
  left: 490px;
  position: absolute;
  top: 2009px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .cerco-perim-trico {
  position: absolute;
  width: 139px;
  top: 2009px;
  left: 656px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .losas-multiusos {
  position: absolute;
  width: 139px;
  top: 2009px;
  left: 816px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .cocina-y-comedor {
  position: absolute;
  width: 92px;
  top: 2009px;
  left: 998px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .ambientes {
  width: 157px;
  left: 1138px;
  position: absolute;
  top: 2009px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .text-wrapper-35 {
  position: absolute;
  width: 104px;
  top: 2009px;
  left: 1325px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .vector-20 {
  position: absolute;
  width: 41px;
  height: 42px;
  top: 1949px;
  left: 539px;
}

.escuelas-modulares .capa {
  position: absolute;
  width: 41px;
  height: 40px;
  top: 1950px;
  left: 705px;
}

.escuelas-modulares .capa-2 {
  position: absolute;
  width: 35px;
  height: 40px;
  top: 1950px;
  left: 868px;
}

.escuelas-modulares .capa-3 {
  position: absolute;
  width: 70px;
  height: 44px;
  top: 1948px;
  left: 1009px;
}

.escuelas-modulares .capa-4 {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 1945px;
  left: 1192px;
}

.escuelas-modulares .capa-5 {
  position: absolute;
  width: 48px;
  height: 44px;
  top: 1948px;
  left: 1353px;
}

.escuelas-modulares .group-6 {
  position: absolute;
  width: 193px;
  height: 42px;
  top: 3523px;
  left: 1001px;
}

.escuelas-modulares .vector-21 {
  position: absolute;
  width: 15px;
  height: 10px;
  top: 14px;
  left: 151px;
}

.escuelas-modulares .group-7 {
  position: absolute;
  width: 880px;
  height: 122px;
  top: 2175px;
  left: 532px;
}

.escuelas-modulares .text-wrapper-36 {
  position: absolute;
  width: 202px;
  top: 56px;
  left: 0;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .text-wrapper-37 {
  position: absolute;
  width: 183px;
  top: 56px;
  left: 249px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .text-wrapper-38 {
  position: absolute;
  width: 177px;
  top: 56px;
  left: 484px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .text-wrapper-39 {
  position: absolute;
  width: 155px;
  top: 56px;
  left: 717px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.escuelas-modulares .group-8 {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 0;
  left: 77px;
}

.escuelas-modulares .group-9 {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 2px;
  left: 318px;
}

.escuelas-modulares .group-10 {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 3px;
  left: 552px;
}

.escuelas-modulares .capa-6 {
  position: absolute;
  width: 54px;
  height: 44px;
  top: 2px;
  left: 768px;
}

.escuelas-modulares .footer {
  position: absolute;
  width: 1920px;
  height: 532px;
  top: 4323px;
  left: 0;
  background-color: #0057a7;
}

.escuelas-modulares .horizontal-border {
  position: absolute;
  width: 1920px;
  height: 99px;
  top: 437px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #202e3f;
}

.escuelas-modulares .list {
  position: absolute;
  width: 630px;
  height: 28px;
  top: 36px;
  left: 315px;
}

.escuelas-modulares .div-2 {
  position: absolute;
  width: 171px;
  height: 28px;
  top: 0;
  left: 0;
}

.escuelas-modulares .background-2 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 12px;
  left: 181px;
  background-color: #7c91aa;
  border-radius: 2px;
}

.escuelas-modulares .privacy-policy-terms {
  position: absolute;
  width: 171px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.escuelas-modulares .item-link {
  position: absolute;
  width: 88px;
  height: 28px;
  top: 0;
  left: 196px;
}

.escuelas-modulares .text-wrapper-40 {
  position: absolute;
  width: 88px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-41 {
  position: absolute;
  width: 309px;
  height: 28px;
  top: 35px;
  left: 1296px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-42 {
  position: absolute;
  width: 508px;
  height: 91px;
  top: 147px;
  left: 779px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.escuelas-modulares .group-11 {
  position: absolute;
  width: 391px;
  height: 50px;
  top: 64px;
  left: 811px;
}

.escuelas-modulares .vector-wrapper {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1060px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/vector-17.svg);
  background-size: 100% 100%;
}

.escuelas-modulares .vector-22 {
  position: absolute;
  width: 26px;
  height: 18px;
  top: 10px;
  left: 6px;
}

.escuelas-modulares .overlap-21 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1107px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/vector-19.svg);
  background-size: 100% 100%;
}

.escuelas-modulares .vector-23 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
}

.escuelas-modulares .vector-24 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 14px;
  left: 14px;
}

.escuelas-modulares .vector-25 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 24px;
}

.escuelas-modulares .overlap-22 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1012px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/vector-20.svg);
  background-size: 100% 100%;
}

.escuelas-modulares .vector-26 {
  position: absolute;
  width: 15px;
  height: 16px;
  top: 14px;
  left: 16px;
}

.escuelas-modulares .vector-27 {
  position: absolute;
  width: 5px;
  height: 15px;
  top: 15px;
  left: 8px;
}

.escuelas-modulares .vector-28 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: 8px;
}

.escuelas-modulares .img-wrapper {
  position: absolute;
  width: 39px;
  height: 38px;
  top: 283px;
  left: 921px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/vector-24.svg);
  background-size: 100% 100%;
}

.escuelas-modulares .vector-29 {
  position: absolute;
  width: 16px;
  height: 31px;
  top: 8px;
  left: 11px;
}

.escuelas-modulares .overlap-23 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 965px;
  background-image: url(https://c.animaapp.com/qs7oBvhl/img/vector-29.svg);
  background-size: 100% 100%;
}

.escuelas-modulares .vector-30 {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 9px;
  left: 8px;
}

.escuelas-modulares .vector-31 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 9px;
  left: 21px;
}

.escuelas-modulares .vector-32 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 20px;
  left: 9px;
}

.escuelas-modulares .text-wrapper-43 {
  position: absolute;
  height: 27px;
  top: 245px;
  left: 952px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.2px;
  white-space: nowrap;
}

.escuelas-modulares .text-wrapper-44 {
  position: absolute;
  height: 27px;
  top: 336px;
  left: 922px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.2px;
  white-space: nowrap;
}
