.kit-de-agua {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.kit-de-agua .div {
  background-color: #ffffff;
  width: 1920px;
  height: 4598px;
  position: relative;
}

.kit-de-agua .section {
  top: 200px;
}

.kit-de-agua .overlap {
  position: absolute;
  width: 1920px;
  height: 312px;
  top: 3412px;
  left: 0;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/rectangle-34.png);
  background-size: cover;
  background-position: 50% 50%;
}

.kit-de-agua .text-wrapper {
  position: absolute;
  width: 878px;
  top: 93px;
  left: 521px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #010101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.kit-de-agua .documentos-de-apoyo {
  position: absolute;
  width: 369px;
  top: 44px;
  left: 776px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #313131;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.kit-de-agua .overlap-group {
  position: absolute;
  width: 698px;
  height: 105px;
  top: 170px;
  left: 703px;
}

.kit-de-agua .group {
  position: absolute;
  width: 698px;
  height: 105px;
  top: 0;
  left: 0;
}

.kit-de-agua .planos-esquem-ticos {
  position: absolute;
  width: 546px;
  top: 3px;
  left: 148px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 21.8px;
}

.kit-de-agua .text-wrapper-2 {
  top: 3px;
  left: 122px;
  color: #7d4393;
  font-size: 17px;
  line-height: 22.1px;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.kit-de-agua .group-2 {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 0;
  left: 0;
  background-color: #2ead9a;
  border-radius: 52.62px;
}

.kit-de-agua .mask-group {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 0;
  left: 0;
}

.kit-de-agua .image {
  position: absolute;
  width: 98px;
  height: 10px;
  top: 49px;
  left: 429px;
  object-fit: cover;
}

.kit-de-agua .beneficios {
  position: absolute;
  width: 433px;
  top: 1942px;
  left: 744px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.kit-de-agua .inversi-n-estimada {
  position: absolute;
  width: 781px;
  top: 2239px;
  left: 570px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.kit-de-agua .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 597px;
  top: 0;
  left: 0;
}

.kit-de-agua .rectangle {
  position: absolute;
  width: 1920px;
  height: 409px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.kit-de-agua .img {
  position: absolute;
  width: 1920px;
  height: 293px;
  top: 304px;
  left: 0;
  object-fit: cover;
}

.kit-de-agua .kit-de-agua-y-desag {
  position: absolute;
  width: 336px;
  top: 436px;
  left: 559px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 42.7px;
}

.kit-de-agua .p {
  position: absolute;
  width: 468px;
  top: 422px;
  left: 895px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 22.1px;
}

.cat-logo-pronied-kit {
  position: absolute;
  width: 622px;
  height: 30px;
  top: 324px;
  left: 895px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.kit-de-agua .text-wrapper-3 {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 324px;
  left: 459px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.kit-de-agua .modo-de-aislamiento {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 326px;
  left: 1066px;
}

.kit-de-agua .modo-de-aislamiento-2 {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 326px;
  left: 442px;
}

.kit-de-agua .ellipse {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 432px;
  left: 442px;
  background-color: #ffffff;
  border-radius: 45.5px;
}

.kit-de-agua .vector {
  position: absolute;
  width: 59px;
  height: 45px;
  top: 466px;
  left: 456px;
}

.kit-de-agua .vector-2 {
  position: absolute;
  width: 42px;
  height: 51px;
  top: 449px;
  left: 468px;
}

.kit-de-agua .kit-de-agua-es-un-m {
  position: absolute;
  width: 1113px;
  top: 625px;
  left: 404px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 22.1px;
}

.kit-de-agua .span {
  font-weight: 700;
}

.kit-de-agua .text-wrapper-4 {
  font-family: "Gotham Rounded-Regular", Helvetica;
}

.kit-de-agua .kit-de-agua-y-desag-2 {
  position: absolute;
  width: 497px;
  top: 816px;
  left: 712px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #2c2c2c;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.kit-de-agua .border {
  position: absolute;
  width: 1113px;
  height: 4px;
  top: 865px;
  left: 404px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dfdfdf;
}

.kit-de-agua .overlap-group-2 {
  position: relative;
  width: 46px;
  height: 6px;
}

.kit-de-agua .background {
  position: absolute;
  width: 40px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #363636;
}

.kit-de-agua .mask-group-2 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 0;
  left: 36px;
}

.kit-de-agua .text-wrapper-5 {
  position: absolute;
  width: 617px;
  top: 2388px;
  left: 652px;
  font-family: "Gotham Rounded-Light", Helvetica;
  font-weight: 300;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.kit-de-agua .group-wrapper {
  position: absolute;
  width: 384px;
  height: 65px;
  top: 2298px;
  left: 769px;
}

.kit-de-agua .overlap-group-wrapper {
  width: 386px;
  height: 65px;
}

.kit-de-agua .overlap-group-3 {
  position: relative;
  width: 384px;
  height: 65px;
  background-color: #eeeeee;
  border-radius: 36px;
}

.kit-de-agua .layer {
  position: absolute;
  width: 39px;
  height: 44px;
  top: 12px;
  left: 32px;
}

.kit-de-agua .text-wrapper-6 {
  position: absolute;
  width: 286px;
  top: 16px;
  left: 84px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.0px;
  white-space: nowrap;
}

.kit-de-agua .conoce-nuestra {
  position: absolute;
  width: 380px;
  top: 3135px;
  left: 1005px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 28.6px;
}

.kit-de-agua .overlap-wrapper {
  position: absolute;
  width: 193px;
  height: 42px;
  top: 2146px;
  left: 865px;
}

.kit-de-agua .overlap-3 {
  position: relative;
  width: 191px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 33px;
  border: 2px solid;
  border-color: #214287;
}

.kit-de-agua .overlap-3-desague {
  position: relative;
  width: 191px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 33px;
  border: 2px solid;
  border-color: #0b978a;
}

.kit-de-agua .text-wrapper-7 {
  position: absolute;
  width: 162px;
  height: 31px;
  top: 3px;
  left: 2px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #214287;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-7-desague {
  position: absolute;
  width: 162px;
  height: 31px;
  top: 3px;
  left: 2px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #0b978a;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
}

.kit-de-agua .vector-3 {
  position: absolute;
  width: 15px;
  height: 10px;
  top: 14px;
  left: 158px;
}

.kit-de-agua .rectangle-2 {
  position: absolute;
  width: 274px;
  height: 249px;
  top: 3125px;
  left: 696px;
  object-fit: cover;
}

.kit-de-agua .te-compartimos {
  position: absolute;
  width: 342px;
  top: 3229px;
  left: 1005px;
  font-family: "Gotham Rounded-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.kit-de-agua .text-wrapper-8 {
  color: #020101;
}

.kit-de-agua .text-wrapper-9 {
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #214287;
}

.kit-de-agua .overlap-4 {
  position: absolute;
  width: 1918px;
  height: 598px;
  top: 2487px;
  left: 2px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/rectangle-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.kit-de-agua .group-3 {
  position: absolute;
  width: 1420px;
  height: 508px;
  top: 57px;
  left: 267px;
}

.kit-de-agua .text-wrapper-10 {
  position: absolute;
  width: 112px;
  top: 214px;
  left: 1278px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.kit-de-agua .ruta-para-la {
  position: absolute;
  width: 425px;
  top: 0;
  left: 481px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #242424;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-11 {
  position: absolute;
  width: 1020px;
  top: 61px;
  left: 182px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #221e20;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.kit-de-agua .div-wrapper {
  position: absolute;
  width: 156px;
  height: 89px;
  top: 214px;
  left: 838px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-12 {
  position: absolute;
  width: 138px;
  top: 9px;
  left: 9px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.kit-de-agua .overlap-5 {
  position: absolute;
  width: 154px;
  height: 89px;
  top: 214px;
  left: 1053px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-13 {
  position: absolute;
  width: 137px;
  top: 9px;
  left: 8px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.kit-de-agua .text-wrapper-14 {
  position: absolute;
  width: 86px;
  top: 213px;
  left: 8px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.kit-de-agua .overlap-6 {
  position: absolute;
  width: 147px;
  height: 83px;
  top: 114px;
  left: 158px;
}

.kit-de-agua .rectangle-3 {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 0;
  left: 2px;
  background-color: #214287;
  border-radius: 15px;
}

.kit-de-agua .rectangle-3-desague {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 0;
  left: 2px;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .mesa-de-partes-del {
  position: absolute;
  width: 147px;
  top: 20px;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.kit-de-agua .vector-4 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 796px;
}

.kit-de-agua .vector-5 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 142px;
  left: 318px;
}

.kit-de-agua .vector-6 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 142px;
  left: 116px;
}

.kit-de-agua .vector-7 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 522px;
}

.kit-de-agua .vector-8 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 1007px;
}

.kit-de-agua .vector-9 {
  position: absolute;
  width: 29px;
  height: 27px;
  top: 146px;
  left: 1224px;
}

.kit-de-agua .gerencia-general-del-wrapper {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 114px;
  left: 361px;
  background-color: #214287;
  border-radius: 15px;
}

.kit-de-agua .gerencia-general-del-wrapper-desague {
  position: absolute;
  width: 145px;
  height: 83px;
  top: 114px;
  left: 361px;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .gerencia-general-del {
  position: absolute;
  width: 127px;
  top: 19px;
  left: 9px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.kit-de-agua .overlap-7 {
  position: absolute;
  width: 225px;
  height: 83px;
  top: 114px;
  left: 563px;
  background-color: #214287;
  border-radius: 15px;
}

.kit-de-agua .overlap-7-desague {
  position: absolute;
  width: 225px;
  height: 83px;
  top: 114px;
  left: 563px;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-15 {
  width: 194px;
  top: 16px;
  left: 15px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.kit-de-agua .overlap-8 {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 838px;
  background-color: #214287;
  border-radius: 15px;
}

.kit-de-agua .overlap-8-desague {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 838px;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-16 {
  width: 138px;
  height: 52px;
  top: 17px;
  left: 9px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.kit-de-agua .overlap-9 {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 214px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-17 {
  position: absolute;
  width: 179px;
  top: 14px;
  left: 23px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.kit-de-agua .overlap-10 {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 1052px;
  background-color: #214287;
  border-radius: 15px;
}

.kit-de-agua .overlap-10-desague {
  position: absolute;
  width: 156px;
  height: 83px;
  top: 114px;
  left: 1052px;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-18 {
  width: 139px;
  height: 52px;
  top: 17px;
  left: 8px;
  position: absolute;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.3px;
}

.kit-de-agua .documentaci-n-t-wrapper {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 292px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.kit-de-agua .documentaci-n-t {
  position: absolute;
  width: 179px;
  top: 12px;
  left: 23px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.kit-de-agua .overlap-11 {
  position: absolute;
  width: 225px;
  height: 72px;
  top: 370px;
  left: 563px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-19 {
  position: absolute;
  width: 144px;
  top: 17px;
  left: 40px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.2px;
}

.kit-de-agua .mask-group-3 {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 103px;
  left: 0;
}

.kit-de-agua .vector-10 {
  position: absolute;
  width: 165px;
  height: 277px;
  top: 213px;
  left: 225px;
}

.kit-de-agua .vector-11 {
  position: absolute;
  width: 202px;
  height: 172px;
  top: 318px;
  left: 938px;
}

.kit-de-agua .overlap-12 {
  position: absolute;
  width: 519px;
  height: 36px;
  top: 472px;
  left: 405px;
}

.kit-de-agua .rectangle-4 {
  position: absolute;
  width: 519px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #0057a7;
  border-radius: 14px;
}

.kit-de-agua .text-wrapper-20 {
  position: absolute;
  width: 441px;
  top: 6px;
  left: 44px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23px;
}

.kit-de-agua .MODULO-COSTA-ass {
  width: 112px;
  height: 117px;
  top: 140px;
  left: 1545px;
  position: absolute;
  object-fit: cover;
}

.kit-de-agua .MODULO-COSTA-ass-desague {
  width: 153px;
  height: 77px;
  top: 179px;
  left: 1533px;
  position: absolute;
  object-fit: cover;
}

.kit-de-agua .ALCALDES-y {
  position: absolute;
  width: 307px;
  height: 287px;
  top: 3772px;
  left: 554px;
  object-fit: cover;
}

.kit-de-agua .overlap-13 {
  position: absolute;
  width: 468px;
  height: 43px;
  top: 3759px;
  left: 887px;
}

.kit-de-agua .rectangle-5 {
  position: absolute;
  width: 468px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-21 {
  position: absolute;
  width: 445px;
  top: 8px;
  left: 13px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 19.0px;
}

.kit-de-agua .el-equipo-t-cnico {
  position: absolute;
  width: 445px;
  top: 3818px;
  left: 900px;
  font-family: "Gotham Rounded-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 19.5px;
}

.kit-de-agua .text-wrapper-22 {
  color: #214287;
}

.kit-de-agua .text-wrapper-23 {
  position: absolute;
  width: 214px;
  top: 3945px;
  left: 964px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-24 {
  position: absolute;
  width: 214px;
  top: 4004px;
  left: 964px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.kit-de-agua .img-2 {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 3914px;
  left: 887px;
}

.kit-de-agua .frame {
  position: absolute;
  width: 45px;
  height: 44px;
  top: 3994px;
  left: 899px;
}

.kit-de-agua .overlap-14 {
  position: absolute;
  width: 508px;
  height: 581px;
  top: 1307px;
  left: 393px;
}

.kit-de-agua .ellipse-2 {
  position: absolute;
  width: 189px;
  height: 189px;
  top: 374px;
  left: 30px;
  background-color: #ebebeb;
  border-radius: 94.36px;
}

.kit-de-agua .callao {
  position: absolute;
  width: 5px;
  height: 4px;
  top: 376px;
  left: 241px;
}

.kit-de-agua .vector-12 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 376px;
  left: 241px;
}

.kit-de-agua .vector-13 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 313px;
  left: 224px;
  object-fit: cover;
}

.kit-de-agua .vector-14 {
  position: absolute;
  width: 97px;
  height: 61px;
  top: 317px;
  left: 104px;
}

.kit-de-agua .MODULO-COSTA-sf-ass {
  width: 166px;
  height: 152px;
  top: 381px;
  left: 41px;
  position: absolute;
  object-fit: cover;
}

.kit-de-agua .MODULO-COSTA-sf-ass-desague {
  width: 235px;
  height: 91px;
  top: 404px;
  left: 3px;
  position: absolute;
  object-fit: cover;
}

.kit-de-agua .vector-15 {
  position: absolute;
  width: 2px;
  height: 1px;
  top: 524px;
  left: 352px;
}

.kit-de-agua .vector-16 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 509px;
  left: 338px;
}

.kit-de-agua .vector-17 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 510px;
  left: 337px;
}

.kit-de-agua .vector-18 {
  position: absolute;
  width: 124px;
  height: 37px;
  top: 508px;
  left: 218px;
}

.kit-de-agua .rectangle-6 {
  position: absolute;
  width: 394px;
  height: 581px;
  top: 0;
  left: 114px;
  object-fit: cover;
}

.kit-de-agua .ALTURA-wrapper {
  position: absolute;
  width: 229px;
  height: 60px;
  top: 6px;
  left: 0;
}

.kit-de-agua .ALTURA {
  width: 235px;
  height: 60px;
}

.kit-de-agua .overlap-group-4 {
  position: relative;
  width: 229px;
  height: 60px;
  background-color: #0852b5;
  border-radius: 30px;
}

.kit-de-agua .overlap-group-4-desague {
  position: relative;
  width: 229px;
  height: 60px;
  background-color: #0b978a;
  border-radius: 30px;
}

.kit-de-agua .overlap-15 {
  position: absolute;
  width: 162px;
  height: 46px;
  top: 7px;
  left: 62px;
}

.kit-de-agua .text-wrapper-25 {
  position: absolute;
  width: 87px;
  top: 25px;
  left: 75px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-26 {
  position: absolute;
  width: 138px;
  top: 0;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-27 {
  position: absolute;
  width: 138px;
  top: 17px;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.kit-de-agua .vector-19 {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 7px;
  left: 8px;
}

.kit-de-agua .overlap-16 {
  position: absolute;
  width: 326px;
  height: 42px;
  top: 1410px;
  left: 942px;
}

.kit-de-agua .rectangle-7 {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #0852b5;
  border-radius: 15px;
}

.kit-de-agua .rectangle-7-desague {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .text-wrapper-28 {
  position: absolute;
  width: 284px;
  top: 6px;
  left: 24px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.kit-de-agua .overlap-17 {
  position: absolute;
  width: 425px;
  height: 238px;
  top: 1461px;
  left: 942px;
}

.kit-de-agua .rectangle-8 {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 188px;
  left: 0;
  background-color: #0852b5;
  border-radius: 15px;
}

.kit-de-agua .rectangle-8-desague {
  position: absolute;
  width: 326px;
  height: 36px;
  top: 188px;
  left: 0;
  background-color: #0b978a;
  border-radius: 15px;
}

.kit-de-agua .redes-sanitarias {
  position: absolute;
  width: 400px;
  top: 0;
  left: 25px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.kit-de-agua .div-2 {
  top: 0;
  left: 0;
  color: #4380b7;
  font-size: 15px;
  line-height: 19.5px;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.kit-de-agua .text-wrapper-29 {
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #4380b7;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.kit-de-agua .text-wrapper-30 {
  font-size: 17px;
  line-height: 22.1px;
}

.kit-de-agua .text-wrapper-31 {
  position: absolute;
  width: 293px;
  top: 194px;
  left: 24px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 20.9px;
}

.kit-de-agua .evaluaci-n-de {
  position: absolute;
  width: 400px;
  top: 1703px;
  left: 967px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.kit-de-agua .text-wrapper-32 {
  top: 1704px;
  left: 942px;
  color: #4380b7;
  font-size: 15px;
  line-height: 19.5px;
  position: absolute;
  width: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.kit-de-agua .kit-de-agua-costa {
  position: absolute;
  width: 569px;
  top: 1313px;
  left: 942px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #0852b5;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 40.2px;
  white-space: nowrap;
}

.kit-de-agua .kit-de-desag-e-costa {
  position: absolute;
  width: 569px;
  top: 1313px;
  left: 942px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #0b978a;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 40.2px;
  white-space: nowrap;
}

.kit-de-agua .overlap-18 {
  position: absolute;
  width: 378px;
  height: 310px;
  top: 911px;
  left: 966px;
}

.kit-de-agua .rectangle-9 {
  position: absolute;
  width: 378px;
  height: 237px;
  top: 72px;
  left: 0;
  background-color: #0b978a;
  border-radius: 18px;
}

.kit-de-agua .text-wrapper-33 {
  position: absolute;
  width: 345px;
  top: 258px;
  left: 15px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.kit-de-agua .rectangle-10 {
  position: absolute;
  width: 378px;
  height: 236px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.kit-de-agua .overlap-19 {
  position: absolute;
  width: 378px;
  height: 310px;
  top: 911px;
  left: 560px;
}

.kit-de-agua .rectangle-11 {
  position: absolute;
  width: 378px;
  height: 237px;
  top: 72px;
  left: 0;
  background-color: #0852b5;
  border-radius: 18px;
}

.kit-de-agua .text-wrapper-34 {
  position: absolute;
  width: 202px;
  top: 2055px;
  left: 625px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-34-desague {
  position: absolute;
  width: 202px;
  top: 2055px;
  left: 550px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-35-desague {
  position: absolute;
  width: 158px;
  top: 2055px;
  left: 788px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-35 {
  position: absolute;
  width: 158px;
  top: 2055px;
  left: 877px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-36 {
  position: absolute;
  width: 243px;
  top: 2055px;
  left: 1082px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-36-desague {
  position: absolute;
  width: 243px;
  top: 2055px;
  left: 951px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}


.kit-de-agua .footer {
  position: absolute;
  width: 1920px;
  height: 532px;
  top: 4104px;
  left: 0;
  background-color: #0057a7;
}

.kit-de-agua .horizontal-border {
  position: absolute;
  width: 1920px;
  height: 99px;
  top: 437px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #202e3f;
}

.kit-de-agua .list {
  position: absolute;
  width: 630px;
  height: 28px;
  top: 36px;
  left: 315px;
}

.kit-de-agua .div-3 {
  position: absolute;
  width: 171px;
  height: 28px;
  top: 0;
  left: 0;
}

.kit-de-agua .background-2 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 12px;
  left: 181px;
  background-color: #7c91aa;
  border-radius: 2px;
}

.kit-de-agua .privacy-policy-terms {
  position: absolute;
  width: 171px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.kit-de-agua .item-link {
  position: absolute;
  width: 88px;
  height: 28px;
  top: 0;
  left: 196px;
}

.kit-de-agua .text-wrapper-37 {
  position: absolute;
  width: 88px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-37 {
  position: absolute;
  width: 149px;
  top: 2055px;
  left: 1220px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.8px;
}

.kit-de-agua .text-wrapper-38 {
  position: absolute;
  width: 309px;
  height: 28px;
  top: 35px;
  left: 1296px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-39 {
  position: absolute;
  width: 508px;
  height: 91px;
  top: 147px;
  left: 779px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.kit-de-agua .group-4 {
  position: absolute;
  width: 391px;
  height: 50px;
  top: 64px;
  left: 811px;
}

.kit-de-agua .vector-wrapper {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1060px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/vector-14.svg);
  background-size: 100% 100%;
}

.kit-de-agua .vector-20 {
  position: absolute;
  width: 26px;
  height: 18px;
  top: 10px;
  left: 6px;
}

.kit-de-agua .overlap-20 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1107px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/vector-16.svg);
  background-size: 100% 100%;
}

.kit-de-agua .vector-21 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
}

.kit-de-agua .vector-22 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 14px;
  left: 14px;
}

.kit-de-agua .vector-23 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 24px;
}

.kit-de-agua .overlap-21 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 1012px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/vector-17.svg);
  background-size: 100% 100%;
}

.kit-de-agua .vector-24 {
  position: absolute;
  width: 15px;
  height: 16px;
  top: 14px;
  left: 16px;
}

.kit-de-agua .vector-25 {
  position: absolute;
  width: 5px;
  height: 15px;
  top: 15px;
  left: 8px;
}

.kit-de-agua .vector-26 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 7px;
  left: 8px;
}

.kit-de-agua .img-wrapper {
  position: absolute;
  width: 39px;
  height: 38px;
  top: 283px;
  left: 921px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/vector-21.svg);
  background-size: 100% 100%;
}

.kit-de-agua .vector-27 {
  position: absolute;
  width: 16px;
  height: 31px;
  top: 8px;
  left: 11px;
}

.kit-de-agua .overlap-22 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 283px;
  left: 965px;
  background-image: url(https://c.animaapp.com/Lsam0JsX/img/vector-26.svg);
  background-size: 100% 100%;
}

.kit-de-agua .vector-28 {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 9px;
  left: 8px;
}

.kit-de-agua .vector-29 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 9px;
  left: 21px;
}

.kit-de-agua .vector-30 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 20px;
  left: 9px;
}

.kit-de-agua .text-wrapper-40 {
  position: absolute;
  height: 27px;
  top: 245px;
  left: 952px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.2px;
  white-space: nowrap;
}

.kit-de-agua .text-wrapper-41 {
  position: absolute;
  height: 27px;
  top: 336px;
  left: 922px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26.2px;
  white-space: nowrap;
}

.kit-de-agua .line {
  position: absolute;
  width: 1111px;
  height: 1px;
  top: 1267px;
  left: 400px;
}

.kit-de-agua .capa {
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
  left: 933px;
}

.kit-de-agua .capa-desague {
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
  left: 844px;
}

.kit-de-agua .capa-2 {
  left: 700px;
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
}

.kit-de-agua .capa-2-desague {
  left: 625px;
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
}

.kit-de-agua .capa-3 {
  left: 1179px;
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
}

.kit-de-agua .capa-3-desague {
  left: 1048px;
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
}

.kit-de-agua .group-5 {
  position: absolute;
  width: 193px;
  height: 42px;
  top: 3315px;
  left: 1000px;
}

.kit-de-agua .capa-4 {
  left: 1270px;
  position: absolute;
  width: 53px;
  height: 41px;
  top: 2005px;
}

.kit-de-agua .text-wrapper-37-footer {
  position: absolute;
  width: 88px;
  height: 28px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .desktop-design {
    display: none !important;
  }

  .mobile-design {
    display: block !important;
  }

  .responsive-kit-de {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .responsive-kit-de .div {
    background-color: #ffffff;
    width: 440px;
    height: 5443px;
    position: relative;
  }
  
  .responsive-kit-de .overlap {
    position: absolute;
    width: 346px;
    height: 531px;
    top: 1648px;
    left: 47px;
  }
  
  .responsive-kit-de .rectangle {
    width: 346px;
    height: 510px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .responsive-kit-de .group {
    position: absolute;
    width: 151px;
    height: 160px;
    top: 371px;
    left: 26px;
  }
  
  .responsive-kit-de .overlap-group {
    position: relative;
    height: 160px;
  }
  
  .responsive-kit-de .ellipse {
    position: absolute;
    width: 112px;
    height: 111px;
    top: 41px;
    left: 0;
    background-color: #ebebeb;
    border-radius: 55.84px / 55.37px;
  }
  
  .responsive-kit-de .vector {
    position: absolute;
    width: 60px;
    height: 25px;
    top: 135px;
    left: 90px;
  }
  
  .responsive-kit-de .img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 0;
    left: 42px;
  }
  
  .responsive-kit-de .MODULO-COSTA-ass {
    position: absolute;
    width: 105px;
    height: 87px;
    top: 418px;
    left: 26px;
    object-fit: cover;
  }
  
  .responsive-kit-de .overlap-2 {
    position: absolute;
    width: 440px;
    height: 582px;
    top: 0;
    left: 0;
  }
  
  .responsive-kit-de .rectangle-2 {
    width: 440px;
    height: 412px;
    top: 170px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .responsive-kit-de .rectangle-3 {
    width: 440px;
    height: 189px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .responsive-kit-de .cat-logo-pronied-kit {
    position: absolute;
    width: 376px;
    height: 30px;
    top: 199px;
    left: 42px;
    font-family: "Gotham Rounded-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .responsive-kit-de .text-wrapper {
    font-family: "Gotham Rounded-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .responsive-kit-de .modo-de-aislamiento {
    position: absolute;
    width: 8px;
    height: 13px;
    top: 200px;
    left: 198px;
  }
  
  .responsive-kit-de .group-2 {
    position: absolute;
    width: 315px;
    height: 105px;
    top: 262px;
    left: 79px;
  }
  
  .responsive-kit-de .kit-de-agua-y-desag {
    position: absolute;
    width: 234px;
    top: 3px;
    left: 79px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 36.7px;
  }
  
  .responsive-kit-de .vector-wrapper {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 34.5px;
  }
  
  .responsive-kit-de .vector-2 {
    position: absolute;
    width: 26px;
    height: 43px;
    top: 13px;
    left: 22px;
  }
  
  .responsive-kit-de .p {
    position: absolute;
    width: 317px;
    top: 380px;
    left: 65px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .kit-de-agua-el-kit {
    position: absolute;
    width: 323px;
    top: 623px;
    left: 59px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .span {
    font-weight: 700;
  }
  
  .responsive-kit-de .text-wrapper-2 {
    font-family: "Gotham Rounded-Regular", Helvetica;
  }
  
  .responsive-kit-de .rectangle-4 {
    width: 302px;
    height: 274px;
    top: 3656px;
    left: 74px;
    position: absolute;
    object-fit: cover;
  }
  
  .responsive-kit-de .overlap-3 {
    position: absolute;
    width: 359px;
    height: 45px;
    top: 2237px;
    left: 41px;
  }
  
  .responsive-kit-de .rectangle-5 {
    position: absolute;
    width: 359px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #0852b5;
    border-radius: 15px;
  }

  .responsive-kit-de .rectangle-5-desague {
    position: absolute;
    width: 359px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #0b978a;
    border-radius: 15px;
  }
  
  .responsive-kit-de .text-wrapper-3 {
    position: absolute;
    width: 313px;
    top: 6px;
    left: 26px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 23.7px;
  }
  
  .responsive-kit-de .overlap-4 {
    position: absolute;
    width: 359px;
    height: 46px;
    top: 2604px;
    left: 41px;
  }
  
  .responsive-kit-de .text-wrapper-4 {
    position: absolute;
    width: 323px;
    top: 7px;
    left: 26px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 23.7px;
  }
  
  .responsive-kit-de .overlap-5 {
    position: absolute;
    width: 331px;
    height: 283px;
    top: 2299px;
    left: 64px;
  }
  
  .responsive-kit-de .redes-sanitarias {
    position: absolute;
    width: 331px;
    top: 0;
    left: 0;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .vector-3 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 240px;
    left: 127px;
    object-fit: cover;
  }
  
  .responsive-kit-de .vector-4 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 74px;
    left: 97px;
    object-fit: cover;
  }
  
  .responsive-kit-de .text-wrapper-5 {
    top: 2299px;
    left: 36px;
    position: absolute;
    width: 18px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #0852b5;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .evaluaci-n-de {
    position: absolute;
    width: 327px;
    top: 2675px;
    left: 69px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .text-wrapper-6 {
    top: 2675px;
    left: 41px;
    position: absolute;
    width: 18px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #0852b5;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .text-wrapper-7 {
    position: absolute;
    width: 304px;
    top: 1434px;
    left: 68px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #0852b5;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 40.2px;
  }

  .responsive-kit-de .text-wrapper-7-desague {
    position: absolute;
    width: 304px;
    top: 1434px;
    left: 68px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #0b978a;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 40.2px;
  }
  
  .responsive-kit-de .beneficios-bioclim {
    position: absolute;
    width: 440px;
    top: 2901px;
    left: 0;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #242424;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 17.1px;
  }
  
  .responsive-kit-de .inversi-n-estimada {
    position: absolute;
    width: 238px;
    top: 3340px;
    left: 101px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #242424;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 17.1px;
  }
  
  .responsive-kit-de .costo-referencial-al {
    position: absolute;
    width: 316px;
    top: 3529px;
    left: 62px;
    font-family: "Gotham Rounded-Light", Helvetica;
    font-weight: 300;
    color: #020101;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20.9px;
  }
  
  .responsive-kit-de .overlap-6 {
    position: absolute;
    width: 318px;
    height: 72px;
    top: 3426px;
    left: 62px;
  }
  
  .responsive-kit-de .group-3 {
    position: absolute;
    width: 43px;
    height: 47px;
    top: 8px;
    left: 231px;
  }
  
  .responsive-kit-de .overlap-wrapper {
    position: absolute;
    width: 318px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .responsive-kit-de .overlap-7 {
    position: relative;
    width: 316px;
    height: 72px;
    background-color: #eeeeee;
    border-radius: 36px;
  }
  
  .responsive-kit-de .layer {
    position: absolute;
    width: 43px;
    height: 48px;
    top: 13px;
    left: 15px;
  }
  
  .responsive-kit-de .text-wrapper-8 {
    position: absolute;
    width: 223px;
    top: 23px;
    left: 69px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27.5px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .conoce-nuestra {
    position: absolute;
    width: 418px;
    top: 3961px;
    left: 18px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #242424;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.8px;
  }
  
  .responsive-kit-de .te-compartimos {
    position: absolute;
    width: 284px;
    top: 4036px;
    left: 85px;
    font-family: "Gotham Rounded-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .text-wrapper-9 {
    color: #020101;
  }
  
  .responsive-kit-de .text-wrapper-10 {
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #0852b5;
  }
  
  .responsive-kit-de .text-wrapper-11 {
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #83b2b9;
  }
  
  .responsive-kit-de .overlap-8 {
    position: absolute;
    width: 440px;
    height: 586px;
    top: 4226px;
    left: 0;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/rectangle-34.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .responsive-kit-de .text-wrapper-12 {
    position: absolute;
    width: 335px;
    top: 125px;
    left: 52px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #010101;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .documentos-de-apoyo {
    position: absolute;
    width: 438px;
    top: 71px;
    left: 0;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #313131;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 17.1px;
  }
  
  .responsive-kit-de .group-4 {
    position: absolute;
    width: 116px;
    height: 116px;
    top: 235px;
    left: 162px;
    background-color: #0057a7;
    border-radius: 58px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/mask-group@2x.png);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .planos-esquem-ticos {
    position: absolute;
    width: 297px;
    top: 380px;
    left: 85px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .text-wrapper-13 {
    top: 380px;
    left: 57px;
    position: absolute;
    width: 18px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #0852b5;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.1px;
  }
  
  .responsive-kit-de .ALCALDES-y {
    position: absolute;
    width: 266px;
    height: 249px;
    top: 4846px;
    left: 88px;
    object-fit: cover;
  }
  
  .responsive-kit-de .text-wrapper-14 {
    position: absolute;
    width: 236px;
    top: 5350px;
    left: 148px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .text-wrapper-15 {
    position: absolute;
    width: 236px;
    top: 5416px;
    left: 148px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 22.1px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .frame {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 5404px;
    left: 77px;
  }
  
  .responsive-kit-de .overlap-9 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 5336px;
    left: 77px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-1.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-5 {
    position: absolute;
    width: 32px;
    height: 24px;
    top: 12px;
    left: 9px;
  }
  
  .responsive-kit-de .vector-6 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25px;
    left: 27px;
  }
  
  .responsive-kit-de .vector-7 {
    position: absolute;
    width: 20px;
    height: 8px;
    top: 18px;
    left: 15px;
  }
  
  .responsive-kit-de .el-equipo-t-cnico {
    position: absolute;
    width: 334px;
    top: 5192px;
    left: 59px;
    font-family: "Gotham Rounded-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 19.5px;
  }
  
  .responsive-kit-de .div-wrapper {
    position: absolute;
    width: 346px;
    height: 67px;
    top: 5110px;
    left: 47px;
    background-color: #ffc000;
    border-radius: 15px;
  }
  
  .responsive-kit-de .text-wrapper-16 {
    position: absolute;
    width: 325px;
    top: 10px;
    left: 11px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23.7px;
  }
  
  .responsive-kit-de .footer {
    position: absolute;
    width: 440px;
    height: 541px;
    top: 5496px;
    left: 0;
    background-color: #0057a7;
  }
  
  .responsive-kit-de .text-wrapper-17 {
    position: absolute;
    width: 286px;
    height: 106px;
    top: 182px;
    left: 93px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .responsive-kit-de .capa {
    position: absolute;
    width: 137px;
    height: 45px;
    top: 104px;
    left: 157px;
  }
  
  .responsive-kit-de .img-wrapper {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 342px;
    left: 253px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-7.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-8 {
    position: absolute;
    width: 26px;
    height: 18px;
    top: 10px;
    left: 6px;
  }
  
  .responsive-kit-de .overlap-10 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 342px;
    left: 300px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-9.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-9 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 9px;
  }
  
  .responsive-kit-de .vector-10 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 14px;
    left: 14px;
  }
  
  .responsive-kit-de .vector-11 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 12px;
    left: 24px;
  }
  
  .responsive-kit-de .overlap-11 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 342px;
    left: 205px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-10.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-12 {
    position: absolute;
    width: 15px;
    height: 16px;
    top: 14px;
    left: 16px;
  }
  
  .responsive-kit-de .vector-13 {
    position: absolute;
    width: 5px;
    height: 15px;
    top: 15px;
    left: 8px;
  }
  
  .responsive-kit-de .vector-14 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 7px;
    left: 8px;
  }
  
  .responsive-kit-de .overlap-12 {
    position: absolute;
    width: 39px;
    height: 38px;
    top: 342px;
    left: 114px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-14.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-15 {
    position: absolute;
    width: 16px;
    height: 31px;
    top: 8px;
    left: 11px;
  }
  
  .responsive-kit-de .overlap-13 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 342px;
    left: 158px;
    background-image: url(https://c.animaapp.com/yFfiNY81/img/vector-19.svg);
    background-size: 100% 100%;
  }
  
  .responsive-kit-de .vector-16 {
    position: absolute;
    width: 23px;
    height: 21px;
    top: 9px;
    left: 8px;
  }
  
  .responsive-kit-de .vector-17 {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 9px;
    left: 21px;
  }
  
  .responsive-kit-de .vector-18 {
    position: absolute;
    width: 10px;
    height: 9px;
    top: 20px;
    left: 9px;
  }
  
  .responsive-kit-de .text-wrapper-18 {
    position: absolute;
    height: 27px;
    top: 304px;
    left: 145px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.2px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .text-wrapper-19 {
    position: absolute;
    height: 27px;
    top: 395px;
    left: 115px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.2px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .images {
    position: absolute;
    width: 195px;
    height: 42px;
    top: 36px;
    left: 129px;
    object-fit: cover;
  }
  
  .responsive-kit-de .overlap-group-wrapper {
    position: absolute;
    width: 210px;
    height: 46px;
    top: 4144px;
    left: 124px;
  }
  
  .responsive-kit-de .overlap-14 {
    position: relative;
    width: 208px;
    height: 46px;
    background-color: #ffffff;
    border-radius: 33px;
    border: 2px solid;
    border-color: #0852b5;
  }
  
  .responsive-kit-de .text-wrapper-20 {
    position: absolute;
    width: 177px;
    height: 34px;
    top: 4px;
    left: 2px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #0852b5;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 33.6px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .vector-19 {
    position: absolute;
    width: 16px;
    height: 11px;
    top: 16px;
    left: 173px;
  }
  
  .responsive-kit-de .ALTURA-wrapper {
    position: absolute;
    width: 229px;
    height: 60px;
    top: 1544px;
    left: 106px;
  }
  
  .responsive-kit-de .ALTURA {
    width: 235px;
    height: 60px;
  }
  
  .responsive-kit-de .overlap-group-2 {
    position: relative;
    width: 229px;
    height: 60px;
    background-color: #0852b5;
    border-radius: 30px;
  }

  .responsive-kit-de .overlap-group-2-desague {
    position: relative;
    width: 229px;
    height: 60px;
    background-color: #0b978a;
    border-radius: 30px;
  }
  
  .responsive-kit-de .overlap-15 {
    position: absolute;
    width: 162px;
    height: 46px;
    top: 7px;
    left: 62px;
  }
  
  .responsive-kit-de .text-wrapper-21 {
    position: absolute;
    width: 87px;
    top: 25px;
    left: 75px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20.8px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .text-wrapper-22 {
    position: absolute;
    width: 138px;
    top: 0;
    left: 0;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 23.4px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .text-wrapper-23 {
    position: absolute;
    width: 138px;
    top: 17px;
    left: 0;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .vector-20 {
    position: absolute;
    width: 44px;
    height: 46px;
    top: 7px;
    left: 8px;
  }
  
  .responsive-kit-de .text-wrapper-24 {
    position: absolute;
    width: 116px;
    top: 3029px;
    left: 77px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.8px;
  }
  
  .responsive-kit-de .text-wrapper-25 {
    position: absolute;
    width: 138px;
    top: 3029px;
    left: 242px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.8px;
  }
  
  .responsive-kit-de .text-wrapper-26 {
    position: absolute;
    width: 138px;
    top: 3197px;
    left: 146px;
    font-family: "Gotham Rounded-Book", Helvetica;
    font-weight: 400;
    color: #020101;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.8px;
  }
  
  .responsive-kit-de .capa-2 {
    top: 2979px;
    left: 288px;
    position: absolute;
    width: 53px;
    height: 41px;
  }
  
  .responsive-kit-de .group-5 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 2974px;
    left: 111px;
  }
  
  .responsive-kit-de .capa-3 {
    top: 3147px;
    left: 192px;
    position: absolute;
    width: 53px;
    height: 41px;
  }
  
  .responsive-kit-de .tipos-de-kit-de-agua {
    position: absolute;
    width: 219px;
    top: 1227px;
    left: 111px;
    font-family: "Gotham Rounded-Bold", Helvetica;
    font-weight: 700;
    color: #2c2c2c;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 17.1px;
  }
  
  .responsive-kit-de .overlap-16 {
    position: absolute;
    width: 358px;
    height: 62px;
    top: 1278px;
    left: 41px;
    background-color: #0852b5;
    border-radius: 12px;
  }
  
  .responsive-kit-de .text-wrapper-27 {
    position: absolute;
    width: 318px;
    top: 18px;
    left: 20px;
    font-family: "Gotham Rounded-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.8px;
    white-space: nowrap;
  }
  
  .responsive-kit-de .overlap-17 {
    position: absolute;
    width: 358px;
    height: 62px;
    top: 1352px;
    left: 41px;
    background-color: #0b978a;
    border-radius: 12px;
  }
}

@media screen and (min-width: 769px) {

  /* Estilos para dispositivos de escritorio */
  .desktop-design {
    display: block;
  }

  .mobile-design {
    display: none;
  }
}