a:link, a:visited {
  color: #3498db; /* Color inicial de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

/* Opcional: Estilo de enlace cuando el mouse está sobre él */
a:hover {
  color: #2980b9; /* Color al pasar el cursor */
}

/* Opcional: Estilo cuando el enlace está activo */
a:active {
  color: #1a5a7d;
}
.aulas-modulares {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.aulas-modulares .div {
  background-color: #ffffff;
  width: 1920px;
  height: 4026px;
  position: relative;
}

.aulas-modulares .overlap {
  position: absolute;
  width: 1920px;
  height: 471px;
  top: 3674px;
  left: 0;
  background-image: url(https://c.animaapp.com/P25pZsOh/img/rectangle-34.png);
  background-size: cover;
  background-position: 50% 50%;
}

.aulas-modulares .overlap-group {
  position: absolute;
  width: 1198px;
  height: 50px;
  top: 111px;
  left: 361px;
  background-color: #4f4f4f;
  border-radius: 19px;
}

.aulas-modulares .text-wrapper {
  position: absolute;
  width: 1166px;
  top: 16px;
  left: 16px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.aulas-modulares .group {
  position: absolute;
  width: 922px;
  height: 69px;
  top: 338px;
  left: 501px;
}

.aulas-modulares .overlap-2 {
  position: absolute;
  width: 242px;
  height: 69px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid;
  border-color: #7d4393;
}

.aulas-modulares .text-wrapper-2 {
  position: absolute;
  width: 188px;
  height: 55px;
  top: 5px;
  left: 19px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #7d4393;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.aulas-modulares .vector {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 27px;
  left: 205px;
}

.aulas-modulares .overlap-group-wrapper {
  position: absolute;
  width: 341px;
  height: 69px;
  top: 0;
  left: 283px;
}

.aulas-modulares .overlap-group-2 {
  position: relative;
  width: 339px;
  height: 69px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid;
  border-color: #7d4393;
}

.aulas-modulares .gu-a-de {
  position: absolute;
  width: 275px;
  height: 55px;
  top: 5px;
  left: 19px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #7d4393;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.aulas-modulares .img {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 27px;
  left: 299px;
}

.aulas-modulares .overlap-3 {
  position: absolute;
  width: 253px;
  height: 69px;
  top: 0;
  left: 665px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid;
  border-color: #7d4393;
}

.aulas-modulares .solicita-asistencia {
  position: absolute;
  width: 182px;
  height: 55px;
  top: 5px;
  left: 19px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #7d4393;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.aulas-modulares .vector-2 {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 27px;
  left: 215px;
}

.aulas-modulares .group-2 {
  position: absolute;
  width: 769px;
  height: 129px;
  top: 187px;
  left: 724px;
}

.aulas-modulares .planos-esquem-ticos {
  position: absolute;
  width: 602px;
  top: 3px;
  left: 163px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .text-wrapper-3 {
  width: 18px;
  top: 3px;
  left: 135px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #7d4393;
  font-size: 17px;
  text-align: center;
  line-height: 22.1px;
  position: absolute;
  letter-spacing: 0;
}

.aulas-modulares .group-3 {
  position: absolute;
  width: 116px;
  height: 116px;
  top: 0;
  left: 0;
  background-color: #0057a7;
  border-radius: 58px;
  background-image: url(https://c.animaapp.com/P25pZsOh/img/mask-group-2@2x.png);
  background-size: 100% 100%;
}

.aulas-modulares .documentos-de-apoyo {
  position: absolute;
  width: 407px;
  top: 49px;
  left: 757px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #313131;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.7px;
  white-space: nowrap;
}

.aulas-modulares .overlap-4 {
  position: absolute;
  width: 359px;
  height: 46px;
  top: 1391px;
  left: 940px;
}

.aulas-modulares .rectangle {
  position: absolute;
  width: 359px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-4 {
  position: absolute;
  width: 313px;
  top: 7px;
  left: 26px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 23.7px;
}

.aulas-modulares .overlap-5 {
  position: absolute;
  width: 523px;
  height: 324px;
  top: 1448px;
  left: 940px;
}

.aulas-modulares .overlap-6 {
  position: absolute;
  width: 523px;
  height: 324px;
  top: 0;
  left: 0;
}

.aulas-modulares .rectangle-2 {
  position: absolute;
  width: 359px;
  height: 40px;
  top: 274px;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.aulas-modulares .m-dulo-prefabricado {
  position: absolute;
  width: 495px;
  top: 0;
  left: 28px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .text-wrapper-5 {
  position: absolute;
  width: 323px;
  top: 281px;
  left: 26px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 23.7px;
}

.aulas-modulares .text-wrapper-6 {
  width: 18px;
  top: 0;
  left: 0;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #7d4393;
  font-size: 17px;
  text-align: center;
  line-height: 22.1px;
  position: absolute;
  letter-spacing: 0;
}

.aulas-modulares .overlap-7 {
  position: absolute;
  width: 1920px;
  height: 623px;
  top: 2674px;
  left: 0;
  background-image: url(https://c.animaapp.com/P25pZsOh/img/rectangle-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.aulas-modulares .overlap-8 {
  position: absolute;
  width: 1515px;
  height: 368px;
  top: 196px;
  left: 214px;
}

.aulas-modulares .text-wrapper-7 {
  position: absolute;
  width: 95px;
  top: 120px;
  left: 1382px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.aulas-modulares .group-4 {
  position: absolute;
  width: 1515px;
  height: 368px;
  top: 0;
  left: 0;
}

.aulas-modulares .div-wrapper {
  position: absolute;
  width: 172px;
  height: 98px;
  top: 117px;
  left: 890px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.aulas-modulares .p {
  position: absolute;
  width: 152px;
  top: 10px;
  left: 10px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.aulas-modulares .overlap-9 {
  position: absolute;
  width: 170px;
  height: 98px;
  top: 117px;
  left: 1128px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-8 {
  position: absolute;
  width: 151px;
  top: 10px;
  left: 9px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.aulas-modulares .text-wrapper-9 {
  position: absolute;
  width: 95px;
  top: 121px;
  left: 9px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.aulas-modulares .overlap-10 {
  position: absolute;
  width: 145px;
  height: 92px;
  top: 12px;
  left: 176px;
  background-color: #7d4393;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-10 {
  position: absolute;
  width: 92px;
  top: 28px;
  left: 27px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
}

.aulas-modulares .overlap-11 {
  position: absolute;
  width: 192px;
  height: 92px;
  top: 12px;
  left: 381px;
}

.aulas-modulares .rectangle-3 {
  position: absolute;
  width: 172px;
  height: 92px;
  top: 0;
  left: 0;
  background-color: #ffc000;
  border-radius: 15px;
}

.aulas-modulares .vector-3 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 29px;
  left: 160px;
}

.aulas-modulares .gerencia-de-wrapper {
  position: absolute;
  width: 248px;
  height: 92px;
  top: 12px;
  left: 586px;
  background-color: #ffc000;
  border-radius: 15px;
}

.aulas-modulares .gerencia-de {
  position: absolute;
  width: 234px;
  top: 8px;
  left: 6px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
}

.aulas-modulares .overlap-12 {
  position: absolute;
  width: 172px;
  height: 92px;
  top: 12px;
  left: 890px;
  background-color: #ffc000;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-11 {
  position: absolute;
  width: 152px;
  height: 57px;
  top: 18px;
  left: 10px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
}

.aulas-modulares .overlap-13 {
  position: absolute;
  width: 234px;
  height: 79px;
  top: 117px;
  left: 592px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-12 {
  position: absolute;
  width: 197px;
  top: 15px;
  left: 17px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.aulas-modulares .overlap-14 {
  position: absolute;
  width: 173px;
  height: 92px;
  top: 12px;
  left: 1125px;
  background-color: #7d4393;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-13 {
  position: absolute;
  width: 153px;
  height: 57px;
  top: 18px;
  left: 10px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.0px;
}

.aulas-modulares .vector-4 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 41px;
  left: 843px;
}

.aulas-modulares .vector-5 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 41px;
  left: 333px;
}

.aulas-modulares .vector-6 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 41px;
  left: 128px;
}

.aulas-modulares .vector-7 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 41px;
  left: 1076px;
}

.aulas-modulares .vector-8 {
  position: absolute;
  width: 32px;
  height: 29px;
  top: 41px;
  left: 1315px;
}

.aulas-modulares .aulas {
  position: absolute;
  width: 129px;
  height: 80px;
  top: 19px;
  left: 1364px;
  object-fit: cover;
}

.aulas-modulares .documentaci-n-t-wrapper {
  position: absolute;
  width: 234px;
  height: 79px;
  top: 203px;
  left: 592px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.aulas-modulares .documentaci-n-t {
  position: absolute;
  width: 197px;
  top: 13px;
  left: 19px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.aulas-modulares .overlap-15 {
  position: absolute;
  width: 234px;
  height: 79px;
  top: 289px;
  left: 592px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

.aulas-modulares .text-wrapper-14 {
  position: absolute;
  width: 159px;
  top: 19px;
  left: 36px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.aulas-modulares .mask-group {
  position: absolute;
  width: 112px;
  height: 112px;
  top: 0;
  left: 0;
}

.aulas-modulares .ruta-para-la {
  position: absolute;
  width: 468px;
  top: 49px;
  left: 727px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #242424;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.7px;
  white-space: nowrap;
}

.aulas-modulares .overlap-16 {
  position: absolute;
  width: 1124px;
  height: 50px;
  top: 107px;
  left: 398px;
}

.aulas-modulares .rectangle-4 {
  position: absolute;
  width: 878px;
  height: 50px;
  top: 0;
  left: 123px;
  background-color: #4f4f4f;
  border-radius: 18px;
}

.aulas-modulares .text-wrapper-15 {
  position: absolute;
  width: 1124px;
  top: 13px;
  left: 0;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.aulas-modulares .beneficios-bioclim {
  position: absolute;
  width: 477px;
  top: 2032px;
  left: 722px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #242424;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.7px;
  white-space: nowrap;
}

.aulas-modulares .inversi-n-aproximada {
  position: absolute;
  width: 741px;
  top: 2395px;
  left: 590px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #242424;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.7px;
  white-space: nowrap;
}

.aulas-modulares .overlap-17 {
  position: absolute;
  width: 1920px;
  height: 1216px;
  top: 0;
  left: 0;
}

.aulas-modulares .container {
  position: absolute;
  width: 1920px;
  height: 1003px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.aulas-modulares .overlap-18 {
  position: absolute;
  width: 1920px;
  height: 769px;
  top: -465px;
  left: 0;
  background-image: url(https://c.animaapp.com/P25pZsOh/img/rectangle-14.png);
  background-size: cover;
  background-position: 50% 50%;
}

.aulas-modulares .background-shadow {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 436px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px #1919191a;
}

.aulas-modulares .modo-de-aislamiento {
  position: absolute;
  width: 8px;
  height: 13px;
  top: 662px;
  left: 1073px;
}

.aulas-modulares .overlap-19 {
  position: absolute;
  width: 1969px;
  height: 293px;
  top: 304px;
  left: 0;
  background-image: url(https://c.animaapp.com/P25pZsOh/img/rectangle-24.png);
  background-size: cover;
  background-position: 50% 50%;
}

.aulas-modulares .text-wrapper-16 {
  position: absolute;
  width: 336px;
  top: 132px;
  left: 551px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 42.7px;
}

.aulas-modulares .text-wrapper-17 {
  position: absolute;
  width: 405px;
  top: 118px;
  left: 895px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .overlap-20 {
  position: absolute;
  width: 376px;
  height: 30px;
  top: 39px;
  left: 895px;
}

.aulas-modulares .cat-logos-pronied {
  position: absolute;
  width: 376px;
  height: 30px;
  top: 0;
  left: 0;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.aulas-modulares .modo-de-aislamiento-2 {
  top: 10px;
  left: 171px;
  position: absolute;
  width: 8px;
  height: 13px;
}

.aulas-modulares .text-wrapper-18 {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 39px;
  left: 459px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 16px;
}

.aulas-modulares .modo-de-aislamiento-3 {
  top: 48px;
  left: 442px;
  position: absolute;
  width: 8px;
  height: 13px;
}

.aulas-modulares .AULA-MODULAR-wrapper {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 137px;
  left: 442px;
  background-color: #ffffff;
  border-radius: 45.5px;
}

.aulas-modulares .AULA-MODULAR {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 21px;
  left: 23px;
  object-fit: cover;
}

.aulas-modulares .estas-aulas-est-n {
  position: absolute;
  width: 978px;
  top: 653px;
  left: 475px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .span {
  font-weight: 700;
}

.aulas-modulares .text-wrapper-19 {
  font-family: "Gotham Rounded-Regular", Helvetica;
}

.aulas-modulares .tipos-de-aulas {
  position: absolute;
  width: 473px;
  top: 785px;
  left: 724px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #2c2c2c;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.7px;
  white-space: nowrap;
}

.aulas-modulares .border {
  position: absolute;
  width: 1227px;
  height: 5px;
  top: 839px;
  left: 347px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dfdfdf;
}

.aulas-modulares .overlap-group-3 {
  position: relative;
  width: 46px;
  height: 6px;
}

.aulas-modulares .background {
  position: absolute;
  width: 40px;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #363636;
}

.aulas-modulares .mask-group-2 {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 0;
  left: 36px;
}

.aulas-modulares .group-5 {
  position: absolute;
  width: 1235px;
  height: 341px;
  top: 875px;
  left: 347px;
}

.aulas-modulares .overlap-21 {
  position: absolute;
  width: 288px;
  height: 341px;
  top: 0;
  left: 0;
}

.aulas-modulares .rectangle-5 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 80px;
  left: 0;
  background-color: #ffc000;
  border-radius: 18px;
}

.aulas-modulares .aula-modular-tipo {
  position: absolute;
  width: 254px;
  top: 281px;
  left: 17px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.9px;
}

.aulas-modulares .rectangle-6 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.aulas-modulares .overlap-22 {
  position: absolute;
  width: 289px;
  height: 341px;
  top: 0;
  left: 313px;
}

.aulas-modulares .rectangle-7 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 80px;
  left: 0;
  background-color: #c0504d;
  border-radius: 18px;
}

.aulas-modulares .rectangle-8 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.aulas-modulares .overlap-23 {
  position: absolute;
  width: 288px;
  height: 341px;
  top: 0;
  left: 625px;
}

.aulas-modulares .rectangle-9 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 80px;
  left: 0;
  background-color: #00b050;
  border-radius: 18px;
}

.aulas-modulares .overlap-24 {
  position: absolute;
  width: 288px;
  height: 341px;
  top: 0;
  left: 939px;
}

.aulas-modulares .rectangle-10 {
  position: absolute;
  width: 288px;
  height: 261px;
  top: 80px;
  left: 0;
  background-color: #558ed5;
  border-radius: 18px;
}

.aulas-modulares .evaluaci-n-de {
  position: absolute;
  width: 602px;
  top: 1782px;
  left: 968px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .text-wrapper-20 {
  width: 18px;
  top: 1782px;
  left: 940px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #7d4393;
  font-size: 17px;
  text-align: center;
  line-height: 22.1px;
  position: absolute;
  letter-spacing: 0;
}

.aulas-modulares .text-wrapper-21 {
  position: absolute;
  width: 254px;
  top: 1333px;
  left: 940px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #ffc000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 38.0px;
  white-space: nowrap;
}

.aulas-modulares .overlap-25 {
  position: absolute;
  width: 546px;
  height: 641px;
  top: 1333px;
  left: 349px;
}

.aulas-modulares .capa {
  position: absolute;
  width: 435px;
  height: 640px;
  top: 1px;
  left: 111px;
}

.aulas-modulares .overlap-wrapper {
  position: absolute;
  width: 177px;
  height: 59px;
  top: 0;
  left: 0;
}

.aulas-modulares .overlap-26 {
  position: relative;
  width: 173px;
  height: 59px;
  background-color: #005bab;
  border-radius: 29.5px;
}

.aulas-modulares .overlap-group-4 {
  position: absolute;
  width: 105px;
  height: 50px;
  top: 5px;
  left: 62px;
}

.aulas-modulares .text-wrapper-22 {
  position: absolute;
  width: 76px;
  top: 0;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.aulas-modulares .text-wrapper-23 {
  width: 105px;
  top: 16px;
  left: 0;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  line-height: 32.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.aulas-modulares .vector-9 {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 5px;
  left: 5px;
}

.aulas-modulares .group-6 {
  position: absolute;
  width: 766px;
  height: 106px;
  top: 2096px;
  left: 582px;
}

.aulas-modulares .text-wrapper-24 {
  position: absolute;
  width: 141px;
  top: 63px;
  left: 0;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.aulas-modulares .text-wrapper-25 {
  position: absolute;
  width: 145px;
  top: 63px;
  left: 198px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.aulas-modulares .text-wrapper-26 {
  position: absolute;
  width: 143px;
  top: 63px;
  left: 392px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.aulas-modulares .text-wrapper-27 {
  position: absolute;
  width: 145px;
  top: 63px;
  left: 613px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
}

.aulas-modulares .capa-2 {
  position: absolute;
  width: 52px;
  height: 40px;
  top: 12px;
  left: 244px;
}

.aulas-modulares .capa-3 {
  position: absolute;
  width: 53px;
  height: 41px;
  top: 10px;
  left: 437px;
}

.aulas-modulares .capa-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 663px;
}

.aulas-modulares .capa-5 {
  position: absolute;
  width: 46px;
  height: 57px;
  top: 0;
  left: 48px;
}

.aulas-modulares .text-wrapper-28 {
  position: absolute;
  width: 409px;
  top: 2550px;
  left: 756px;
  font-family: "Gotham Rounded-Light", Helvetica;
  font-weight: 300;
  color: #020101;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24.2px;
  white-space: nowrap;
}

.aulas-modulares .group-7 {
  position: absolute;
  width: 400px;
  height: 72px;
  top: 2459px;
  left: 761px;
}

.aulas-modulares .overlap-27 {
  position: relative;
  width: 398px;
  height: 72px;
  background-color: #eeeeee;
  border-radius: 36px;
}

.aulas-modulares .layer {
  position: absolute;
  width: 43px;
  height: 48px;
  top: 13px;
  left: 35px;
}

.aulas-modulares .text-wrapper-29 {
  position: absolute;
  width: 263px;
  top: 18px;
  left: 93px;
  font-family: "Gotham Rounded-Book", Helvetica;
  font-weight: 400;
  color: #020101;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: 38.5px;
  white-space: nowrap;
}

.aulas-modulares .CONOCE-a-LAS {
  position: absolute;
  width: 418px;
  top: 3378px;
  left: 1010px;
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #242424;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 28.6px;
}

.aulas-modulares .group-8 {
  position: absolute;
  width: 212px;
  height: 46px;
  top: 3560px;
  left: 1005px;
}

.aulas-modulares .overlap-28 {
  position: relative;
  width: 210px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 33px;
  border: 2px solid;
  border-color: #7d4393;
}

.aulas-modulares .text-wrapper-30 {
  position: absolute;
  width: 179px;
  height: 34px;
  top: 4px;
  left: 2px;
  font-family: "Gotham Rounded-Medium", Helvetica;
  font-weight: 500;
  color: #7d4393;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.aulas-modulares .vector-10 {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 15px;
  left: 172px;
}

.aulas-modulares .group-9 {
  position: absolute;
  width: 212px;
  height: 46px;
  top: 2263px;
  left: 856px;
}

.aulas-modulares .rectangle-11 {
  position: absolute;
  width: 302px;
  height: 274px;
  top: 3351px;
  left: 669px;
  object-fit: cover;
}

.aulas-modulares .nuestros-xx {
  position: absolute;
  width: 376px;
  top: 3465px;
  left: 1010px;
  font-family: "Gotham Rounded-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
}

.aulas-modulares .text-wrapper-31 {
  color: #020101;
}

.aulas-modulares .text-wrapper-32 {
  font-family: "Gotham Rounded-Bold", Helvetica;
  font-weight: 700;
  color: #7d4393;
}

.aulas-modulares .text-wrapper-33 {
  color: #7d4393;
}

.aulas-modulares .line {
  position: absolute;
  width: 1224px;
  height: 1px;
  top: 1257px;
  left: 350px;
}

.aulas-modulares .line-2 {
  position: absolute;
  width: 1px;
  height: 23px;
  top: 1234px;
  left: 485px;
}
